<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Global.css">
    <link rel="stylesheet" href="./app.css">
    <title>home</title>
</head>
<body>
    <div class="container">

<header>
    <nav>
        <h1>
            Todays Goals
        </h1>
        <div class="btn0">
            <a href="./myReviews.html">review goals</a>
        </div>
    </nav>
</header>
<section class="calendar">
    <div class="calendar_top">
        <div class="date">thursday 28 2022</div>
        <div class="calendar_navigation">
            <div class="chevron"><</div>
            <div class="chevron">></div>
        </div> 
    </div>
    <div class="calendar_main">
        <div class="day">
            <div class="num">1</div>
            <div class="weekDay">M</div>
        </div>
        <div class="day">
            <div class="num">2</div>
            <div class="weekDay">T</div>
        </div>
        <div class="day">
            <div class="num active">3</div>
            <div class="weekDay">W</div>
        </div>
        <div class="day">
            <div class="num">4</div>
            <div class="weekDay">TH</div>
        </div>
        <div class="day">
            <div class="num">5</div>
            <div class="weekDay">FR</div>
        </div>
        <div class="day">
            <div class="num">6</div>
            <div class="weekDay">ST</div>
        </div>
        <div class="day">
            <div class="num">7</div>
            <div class="weekDay">SN</div>
        </div>
    </div>
   

</section>

<section class="todos">
    <div class="todo">
        <div class="todo_info">
            <h2>clean the House</h2>
            <p>description</p>
         </div>
        <div class="todo_state">
            <button class="btn01"><a href="./sendRewiew.html">submite</a></button>
        </div>
    </div>
    <div class="todo">
        <div class="todo_info">
            <h2>clean the House</h2>
            <p>description</p>
         </div>
        <div class="todo_state">
            <button class="btn0">pending</button>
        </div>
    </div>
    <div class="todo">
        <div class="todo_info">
            <h2>clean the House</h2>
            <p>description</p>
         </div>
        <div class="todo_state">
            <button class="btn01"><a href="./sendRewiew.html">submite</a></button>

        </div>
    </div>
</section>
<section class="center">
    <div class="btn1"><a href="./goalPage.html">+</a></div>
    
</section>

</div>
    
</body>
</html>