<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="container">
    <div class="review_card">
        <img src="./dekene.jpg" alt="" srcset="" id="task_image">
        <h3>task name</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium suscipit itaque pariatur sunt mollitia maxime sapiente provident facilis aliquam incidunt. Autem ad eaque natus pariatur eveniet quibusdam ipsa in eligendi?</p>
        <a href="">link for verification</a>
         <div class="validation_btn">
            
         </div>
    </div>
 </div>
</body>
</html>