<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Global.css">
    <link rel="stylesheet" href="./valid_review.css">
    <title>Document</title>
</head>
<body>
 <div class="container">
    <div class=" container review_card">
        <img src="./dekene.jpg" alt="" srcset="" id="task_image">
        <h3>task name</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium suscipit itaque pariatur sunt mollitia maxime sapiente provident facilis aliquam incidunt. Autem ad eaque natus pariatur eveniet quibusdam ipsa in eligendi?</p>
        <a href="">link for verification</a>
         <div class="validation_btn">
            <div class="btn01"><a href="./homePage.html">accept</a></div>
            <div class="btn0">reject</div>
         </div>

         <div class="sender_info">
            <img src="./dekene.jpg" alt="" srcset="">
            <h4>sender name</h4>
         </div>
    </div>
 </div>
</body>
</html>