<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Global.css">
    <link rel="stylesheet" href="./home.css">

    <title>Home</title>
</head>
<body>
    <div class="container">

        <div class="home">

            <header class="main">
                <main>
                    <p>Change your life for the better+</p>
                    <h1>
                        organise your life and atain your goals.
                    </h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi tempora nostrum, numquam enim unde, blanditiis officia ab nisi eaque architecto adipisci libero neque autem distinctio veniam nihil maxime ratione placeat!
                    </p>
                 

                </main>
            </header>
        <section class="partners">
            <div class="Acountability_budy">
                <img src="../assets/people images/dekene.jpg" alt="" srcset="">
                <div class="acountability_budy_name">Dekene Agoons</div>
                <button class="btn0"><a href="#">Added</a></button>
             
            </div>
            <div class="Acountability_budy">
                <img src="../assets/people images/berth.jpg" alt="" srcset="">
                <div class="acountability_budy_name">Dekene Agoons</div>
                <button class="btn0"><a href="#">Added</a></button>
             
            </div> <div class="Acountability_budy">
                <img src="../assets/people images/cedric.jpg" alt="" srcset="">
                <div class="acountability_budy_name">Dekene Agoons</div>
                <button class="btn01"><a href="#">Added</a></button>
             
            </div> <div class="Acountability_budy">
                <img src="../assets/people images/onana.jpg" alt="" srcset="">
                <div class="acountability_budy_name">Dekene Agoons</div>
                <button class="btn01"><a href="#">Added</a></button>
             
            </div>
            <div class="Acountability_budy">
                <img src="../assets/people images/onana.jpg" alt="" srcset="">
                <div class="acountability_budy_name">Dekene Agoons</div>
                <button class="btn01"><a href="#">Added</a></button>
             
            </div>
                
        </div> 
        </section>
        <section class="get_started">

            <button class="btn0">
                <a href="./login.html">
                Get Started

                </a>
            </button>
        </section>
        </div>
    </div>
    




</body>
</html>