<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>login/signeUp</title>
</head>
<body>
<section>
    <main class="form" id="form">

        <input type="email" name="email" id="email" placeholder="Enter your email">

        <input type="password" name="password" id="password" placeholder="enter password">

        <button class="btn0"><a href="../views/secuired routes/homePage.html"> l'ets Go</a></button>
      

    </main>

    <p class="center">
        Or sign Up instead ?
    </p>

    <main>
        <input type="text" name="name" id="name" placeholder="Enter full Name">
        <input type="email" name="email" id="email" placeholder="Enter your email">

        <input type="password" name="password" id="password" placeholder="enter password">

        <input type="password" name="password" id="password" placeholder="Comfirm password">

        <button class="btn0"><a href="./index.html">join the team</a></button>
    </main>
</section>
</body>
</html>